<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.whnec.tool.eclipse.plugin.i18nxmleditor.I18nXmlEditor"
            contributorClass="com.whnec.tool.eclipse.plugin.i18nxmleditor.I18nXmlEditorContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="com.whnec.tool.eclipse.plugin.i18nxmleditor.editors.I18nXmlEditor"
            matchingStrategy="com.whnec.tool.eclipse.plugin.i18nxmleditor.I18nXmlEditorMatcher"
            name="I18n XML Editor">
      </editor>
   </extension>

</plugin>
